/* Colors
  -------------------------------------------------------- */ 

  // Main
  $clr-blue: #008FD5; // Welland Blue 1
  $clr-blue-light: #4ec0e3; // Welland Blue 2
  $clr-grey: #a6a6a6; // Welland Grey
  $clr-grey-light: #f1f2f2; // Light Grey
  $clr-grey-light-alt: #EBEBEB; // Light Grey Alt
  $clr-green: rgb(199,211,1); // Welland Green
  $clr-orange: #Ffcb04; // Aurum Orange
  $clr-blue-dark: #004a99; //Dark blue
  $clr-beige: #ebe2d1; //Beige
  $clr-grey-dark: #6e6e71; //grey dark
  $base-clr: #404040;